  /*Designe de la page final du quiz */
body {
    margin: 0;
    height: 100vh;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20250825/pngtree-a-snowy-christmas-scene-with-santa-flying-over-a-festive-village-image_17966148.webp');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.btn {
    padding: 12px 20px;
    border: none;
    background-color: #d62828;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover {
    background-color: #a61d1d;
}

.boutonhautpage {
   position:absolute;
    top:15px;
    z-index: 100;
    left: 20px; 
  background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 50px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

