body {
    margin: 0;
    height: 100vh;
    background-image: url('https://www.callfocus.ie/content/files/what_is_christmas_-_It_is_tenderness_for_the_past_courage_for_the_present_hope_for_the_future_Agnes_Pharo.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.btn {
    padding: 12px 20px;
    border: none;
    background-color: #d62828;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover {
    background-color: #a61d1d;
}
