body {
    margin: 0;
    height: 100vh;
    background-image: url('https://media.istockphoto.com/id/1051910494/fr/photo/cadre-de-no%C3%ABl-d%C3%A9pinette-rouge-or-d%C3%A9corations-de-no%C3%ABl-sur-un-espace-blanc.jpg?s=612x612&w=0&k=20&c=BA6KOOk5_mRzsrf0nvrsPyUB3RG25HT2Oc6w5Kk7f5U=');
}
