body {
    margin: 0;
    height: 100vh;
    background-image: url('https://img.pikbest.com/backgrounds/20241205/glowing-string-lights-ornaments-on-a-soft-blue-background-for-christmas-celebrations_11206951.jpg!bw700');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card1 {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.btn1 {
    padding: 12px 20px;
    border: none;
    background-color: #d62828;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #a61d1d;
}

